.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
logs
.idea
*.iml
/src/main/resources/logback.xml
/src/main/resources/server.conf
/src/main/resources/keystore
conf/
